@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/common' as *;

/*
************
*************************
16. our team
******************************************************* 
*************************************************************** */

// our-team
.ac-our-team-area {
    position: relative;
}
.ac-our-team-bg-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    .our-team-bg-shape-1 {
        position: absolute;
        right: 0;
        top: 5%;
    }
    .our-team-bg-shape-2 {
        position: absolute;
        left: 0;
        top: 5%;
    }
}
.ac-our-team-member-wrapper {
    position: relative;
    overflow: hidden;

    &:hover {
        .ac-our-member-name {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
    }
    &:hover {
        .ac-our-team-member-social-link {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
    }
    &:hover {
        .ac-our-team-member-img::after {
            top: 0;
            opacity: 1;
            visibility: visible;
        }
    }
}
.ac-our-team-member-img {
    position: relative;
    width: 100%;
    height: 300px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(1deg, rgba(0, 0, 0, 0.6) 22%, rgba(255, 255, 255, 0) 60%);
        top: 100%;
        left: 0;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        @include transition(.3s);
    }
}

.ac-our-member-name {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    bottom: 20px;
    transform: translateY(70px);
    opacity: 0;
    visibility: hidden;
    @include transition(.3s);

    @media #{$lg} {
        bottom: 10px;
    }

    a {

        font-size: 20px;
        display: block;
        font-weight: 700;
        font-family: $unna;
        color: var(--white-color);

        &:hover {
            color: var(--hover-color-2);
        }
    }
    span {
        display: block;
        font-size: 14px;
        color: var(--white-color);
    }
}
.ac-our-team-member-social-link {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translateX(60px);
    opacity: 0;
    visibility: hidden;
    @include transition(.3s);

    a {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--white-color);
        color: var(--font_color);
        line-height: 28px;
        text-align: center;
        font-size: 14px;
        margin-bottom: 15px;

        @media #{$lg} {
            margin-bottom: 10px;
        }
        @media #{$md} {
            
        }
        @media #{$xs} {
            
        }
        @media #{$sm} {
            
        }

        &:hover {
            background-color: var(--theme_color);
            color: var(--white-color);
        }
    }
}

.ac-our-team-item {

    img {
        margin-top: -5px;
        margin-right: 15px;
    }
    h4 {
        margin-bottom: 10px;

        @media #{$xs} {
            font-size: 20px;
        }
        @media #{$sm} {
            font-size: 24px;
        }
    }
}
.ac-our-team-right-area {
    margin-left: 50px;
    @media #{$lg} {
        margin-left: 30px;
    }
    @media #{$md} {
        margin-top: 65px;
        margin-left: 0px;
    }
    @media #{$xs} {
        margin-top: 65px;
        margin-left: 0px;
    }
}

// our-team-page

.ac-our-team-page-top-area {
    .ac-our-team-right-area {
        .section-title-wrapper {
            p {
                br {
                    @media #{$xs} {
                        display: none;
                    }
                }
            }
        }
    }
}